.main-class {
	background-color: #f48f7a;
	color: white;
	margin-top: 105px;
}
.main-class h1 {
	text-align: center;
	padding-top: 50px;
}
.para-1 {
	text-align: right;
	margin-right: 355px;
}
.input-bio {
	margin-top: 20px;
	text-align: end;
}
.bio-button-section {
	margin-top: 40px;
	padding-bottom: 40px;
}
#bio-header {
	margin-left: 10px;
}
#home-bio-data {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-section {
	text-align: center;
	background-color: #f48f7a;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
